* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 {
    margin: auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.select-course {
    margin: auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 20px;

}

input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    font-size: larger;
}

button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.subjectInfo {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 50vh;
    margin-bottom: 10px;
}

.endOfSubjectSingle {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.nutDangKi {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: xx-large;
    display: none;
}